
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="/lib/haintso-trano/logo.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>haintso-trano</title>

        <!-- Icon css link -->
        <link href="/lib/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
        <link href="/lib/css/materialdesignicons.min.css" rel="stylesheet">
                
        <!-- Bootstrap -->
        <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="/lib/vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="/lib/vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="/lib/vendors/revolution/css/navigation.css" rel="stylesheet">
        <link href="/lib/vendors/animate-css/animate.css" rel="stylesheet">
        <link href="/lib/vendors/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="/lib/css/style.css" rel="stylesheet">
        <link href="/lib/css/responsive.css" rel="stylesheet">
        <link href="/lib/nav.css" rel="stylesheet">
       <style type="text/css">
            font:hover{
                color:#ea6721;
            }
            font{
                font-family: Chandas;
            }
            font:focus-within{
                background: red;
            }
            .slogan{
                padding-top: 0px; 
            }
            @media all and (max-width: 700px) {
                .img {
                    border: 1px solid black ;
                    height: 150px;
                }
            }
            @media all and (min-width: 900px ) {
                .networking_bottom { 
                    visibility: hidden;
                }
            }
            @media all and (min-width: 500px) and (max-width: 900px){
                .networking_bottom {
                    visibility: visible;
                    margin-left: 350px;
                }

                .networking_left {
                    visibility: hidden;
                }
            }
            @media all and (max-width: 600px) {
                .networking_bottom {
                    visibility: visible;
                    margin-left: 150px;
                }
                .networking_left {
                    visibility: hidden;
                }
            }

        </style>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
 <body>
 	<%= render partial: 'layouts/nav' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
    
    <%= render partial: 'layouts/popupsendmail'%>
    <%= render partial: 'layouts/voirplus' %>
     
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/lib/js/jquery-2.2.4.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/lib/js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="/lib/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/lib/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/lib/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/lib/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/lib/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/lib/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        
        <script src="/lib/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/lib/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/lib/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="/lib/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/lib/vendors/counterup/waypoints.min.js"></script>
        <script src="/lib/vendors/counterup/jquery.counterup.min.js"></script>
        <script src="/lib/vendors/flex-slider/jquery.flexslider-min.js"></script>
        
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/lib/js/gmaps.min.js"></script>
        
        <script src="/lib/js/theme.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(window).scroll(function(){
                    if (screen.width < 900 ) {
                        $('.networking_left').hide();
                    }else if (screen.width > 900 ){
                        $('networking_bottom').hide();
                    }
                })
            });
        </script>
  </body>
  </html>
